Source: libapache2-mod-cosign
Section: web
Priority: optional
Maintainer: Dan Poltawski <dan.poltawski@luns.net.uk>
Build-Depends: debhelper (>= 9), apache2-dev (>= 2.4)
Standards-Version: 3.7.3

Package: libapache2-mod-cosign
Architecture: any
Depends: apache2-mpm-prefork, apache2.2-common, ${shlibs:Depends}
Description: Cosign Auth Module
 Packaging for Cosign Module
